/* static/css/logs.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.logs-content {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.logs-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.highlight {
    background-color: lightgrey;
    width: fit-content;
}

#log-files-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#log-files-list li {
    margin: 5px 0;
}

#log-files-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

#log-files-list a:hover {
    color: #0056b3;
}

#log-content {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    height: 65vh;
    overflow-y: scroll;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #333;
}

#log-content::-webkit-scrollbar {
    width: 8px;
}

#log-content::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
}

#log-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: 15%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}