{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<h1>Logs</h1>
<div id="logs" class="logs-content">

    <ul id="log-files-list"></ul>

    <!-- Input field for maximum number of lines -->
    <div id="log-limit">
        <label for="max-lines">Max lines to display:</label>
        <input type="number" id="max-lines" step="10" value="200">
    </div>

    <div id="log-content"></div>
</div>
<script src="/static/js/logs.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style/logs.css">
{% endblock %}