{% extends "base.html" %}

{% block title %}Modulator{% endblock %}

{% block content %}

<h1>Settings for RESI DVB-T Modulator</h1>

<div id="modulator-container" class="modulator-container">    
    <div id="modulator-list" class="modulator-list">
        <!-- List of available adapters will be populated here -->
    </div>
    <div id="modulator-settings-container" class="modulator-settings-container">
        <!-- Adapter settings will be displayed here on click -->
    </div>
</div>

<script src="/static/js/modulator.js"></script>
{% endblock %}
