{% extends "base.html" %}

{% block title %}Modulator{% endblock %}

{% block content %}

<h1>Settings for RESI DVB-T Modulator</h1>

<div id="modulator-container" class="modulator-container">    
    <div id="modulator-list" class="modulator-list">
        <!-- List of available adapters will be populated here -->
    </div>
    <div id="modulator-settings-container" class="modulator-settings-container">
        <!-- Adapter settings will be displayed here on click -->
    </div>
</div>


<!-- <div id="adapter-settings" style="display: none;">
    <h2>Settings for Adapter <span id="adapter-id"></span></h2>
    <form id="modulator-form">
        <div>
            <label for="connector">Connector</label>
            <select id="connector" name="connector">
                <option value="OFF">OFF</option>
                <option value="SMA">SMA</option>
                <option value="F" selected>F</option>
            </select>
        </div>

        <div>
            <label for="channels">Channels</label>
            <input type="number" id="channels" name="channels" min="1" max="50" value="16">
        </div>

        <div>
            <label for="power">Modulator Power (DBUV)</label>
            <input type="number" id="power" name="power" min="0" max="150" step="1" value="90.0">
        </div>

        <div>
            <label for="frequency">Base Frequency (MHz)</label>
            <input type="number" id="frequency" name="frequency" min="114" max="900" step="8" value="114">
        </div>

        <div>
            <label for="standard">Standard</label>
            <select id="standard" name="standard">
                <option value="DVBT_8">DVB-T 8MHz</option>
                <option value="DVBT_7">DVB-T 7MHz</option>
                <option value="DVBT_6">DVB-T 6MHz</option>
            </select>
        </div>

        <h2>Stream Assignments</h2>
        <div id="stream-assignments">
        -->
            <!-- Dynamic content for stream assignments will be inserted here by JavaScript -->
        <!-- </div>

        <button type="button" onclick="saveConfig()">Save</button>
    </form>
</div> -->

<script src="/static/js/modulator.js"></script>


<!-- <h1>Modulator Configuration</h1>
<form id="modulator-form" method="post" action="/modulator/configure">
    <div>
        <label for="connector">Connector</label>
        <select id="connector" name="connector">
            <option value="OFF">OFF</option>
            <option value="SMA">SMA</option>
            <option value="F" selected>F</option>
        </select>
    </div>

    <div>
        <label for="channels">Channels</label>
        <input type="number" id="channels" name="channels" min="1" max="50" value="16">
    </div>

    <div>
        <label for="power">Modulator Power (DBUV)</label>
        <input type="number" id="power" name="power" min="0" max="150" step="1" value="90.0">
    </div>

    <div>
        <label for="frequency">Base Frequency (MHz)</label>
        <input type="number" id="frequency" name="frequency" min="114" max="810" step="8" value="114.0">
    </div>

    <div>
        <label for="standard">Standard</label>
        <select id="standard" name="standard">
            <option value="DVBT_8" selected>DVB-T 8MHz</option>
            <option value="DVBT_7" disabled="disabled">DVB-T 7MHz</option>
            <option value="DVBT_6" disabled="disabled">DVB-T 6MHz</option>
        </select>
    </div>

    <h2>Stream Assignments</h2>
    <div id="stream-assignments">
    </div>

    <button type="submit">Save</button>
</form>

<script src="/static/js/modulator.js"></script>
 -->
{% endblock %}
